/**
 * @name DisTwitter
 * @author lumap
 * @version 0.0.1
 * @description Mimics the Dim theme from Twitter. ONLY DARK THEME IS SUPPORTED.
 * @source https://github.com/lumap/distwitter-theme/
*/

/* Import script for clean user popout */
@import url(//raw.githubusercontent.com/lumap/css-snippets/main/clean-user-popout-final-v2.css);

/* Set the main color of buttons & co */
html {
    --brand-experiment: #198CD8;
}

/* Change the background colors of most elements in the app. Only 
the variables that are actually used throughout the app have been
edited below. */

.theme-dark {
    --distwttr-bg: #15202B;
    --distwttr-border: #37444D;

    --channels-default: #ffffffe6;
    --text-muted: #ffffffbf;
    --channel-text-area-placeholder: #ffffffbf;
    --channel-icon: white;
}

.theme-light {
    --distwttr-bg: #ffffff;
    --distwttr-border: #d2d2d2;

    --channels-default: #000000e6;
    --text-muted: #000000bf;
    --channel-text-area-placeholder: #000000bf;
    --channel-icon: dark;
}

.theme-dark,
.theme-light {
    --background-primary: var(--distwttr-bg);
    --modal-background: var(--distwttr-bg);
    --background-secondary: var(--distwttr-bg);
    --background-secondary-alt: var(--distwttr-bg);
    --background-tertiary: var(--distwttr-bg);
    --background-floating: var(--distwttr-bg);
    --background-modifier-accent: var(--distwttr-border);
    --background-mentioned: rgb(29 155 240 / 0.075);
    --background-mentioned-hover: rgb(29 155 240 / 0.15);
    --__header-bar-background: var(--distwttr-bg);
    --home-background: var(--distwttr-bg);
    --deprecated-card-editable-bg: var(--distwttr-bg);
    --modal-footer-background: var(--distwttr-bg);
    --input-background: var(--distwttr-bg);
    
    --elevation-low: none;
    --channeltextarea-background: var(--distwttr-bg);
    --info-warning-foreground: none;
    --mention-foreground: #1D9BF0;
    
    --interactive-active: var(--brand-experiment);;
}


/* The background color of the header and content of the Channels & Roles tab is hardcoded
Let's as well put elements that are coded weirdly here */
.container-2IKOsH, .container-1um7CU, .scrollerContainer-y16Rs9, .header-3xB4vB, [class*=autocomplete-], [class*=categoryHeader-], [class*=directoryContainer-], .footer-Ql9fbL, .pageWrapper-2PwDoS {
    background-color: var(--distwttr-bg) !important;
}


.message-G6O-Wv {
    background-color: var(--distwttr-bg) !important;
}

/* Channel Summaries */
[class*=topicsPillContainer-] {
    background-color: var(--distwttr-bg);
    box-shadow: none;
    -webkit-box-shadow: none;
}

[class*=spoilerMarkdownContent-] {
    background-color: var(--primary-800);
}

/***************************
********* BORDERS **********
****************************/


/* Add a border around a lot of elements, to mimic twitter's way to visually separate elements  */
.wrapper-1HIH0j, [class*=channelTextArea-], .tile-2mmK5T, .input-3O04eu, [class*=bioTextArea-], .reaction-3vwAF2, [class*=accountProfileCard-], [class*=compactButton-], [class*=optionButtonWrapper-], .container-jV-A82, .counter-2iDLRj, [class*=authedApp-], [class*=ConnectionList-]>[class*=connection-], [class*=metadataContainer-], [class*=accountCreditRow-], .verticalFit-21XL0v, .preview-QJ3OG3, .preview-3k9WhO, .select-Zz0IcO, .item-1TA5qI, .vc-settings-card, .vc-plugins-card, .container-2oNtJn, .wrapper-24fR1R, [class*=inputMaxLength-], .card-3JmxsM, .clickable-WBCFI5, .editCard-K9Q9mb, [class*=auditLog-], .embedFull-1HGV2S, [class*=profilePanel-], .wrapperAudio-1Bzv_Z, .navigator-lOeWrY, [class*=newMessagesPill-], [class*=newMessagesClear-], .rippleContainer-3ZCne6, .embedCard-bDyD5S, .mainCard-3KBsBI, .bar-wDIGjg, .message-G6O-Wv, .buttons-3dF5Kd, .optionPill-2kmuZR, .tooltip-33Jwqe, .container-3i3IzO, [class*=accountProfilePopoutWrapper-] {
    outline: 1px solid var(--distwttr-border);
}


/* Outlines don't work/look ugly to visually separate guilds & channels from the other parts of the app */
.guilds-2JjMmN, .sidebar-nqHbhN, .scroller-WSmht3, .scroller-1ox3I2, .resizeHandle-PBRzPC {
    border-right: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Members sidebar */
[class*=membersWrap-] {
    border-left: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* More thread stuff */
.panels-3wFtMD {
    border-right: 1px solid var(--distwttr-border);
    border-top: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Server names */
.header-3OsQeK {
    border-bottom: 1px solid var(--distwttr-border);
    border-right: 1px solid var(--distwttr-border);
    box-sizing: border-box;
    height: 48px !important;
}

/* Hide the bottom border when the server banner is visible */
.container-1-ERn5.hasBanner-2IrYih .header-3OsQeK {
    border-bottom: none;
}

/* Chat bar header */
.title-31SJ6t, .container-ZMc96U  {
    border-bottom: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Remove the shadow of the chat bar header */
.content-1jQy2l:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Context menus, but not user popout */
.menu-2TXYjN:not(#account) {
    border: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}


/* Modal footers */
.footerSeparator-3U8YsT {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Expanded folders */
.theme-dark .expandedFolderBackground-1kSAf6 {
    box-shadow: 0 0 1px 1px var(--distwttr-border);
    border-radius: 15px;
}


/***************************
****** ELEMENT SIZES *******
****************************/


.container-JhuCwn {
    border-radius: 16px
}

/* Put padding instead of margin for macOS buttons to make the border appear alongside them too */
.platform-osx .wrapper-1_HaEi {
    padding-top: 32px;
    margin-top: 0px
}

/* Member list*/
.headerText-1qIDDT, .name-3BUDLf, .membersGroup-2eiWxl {
    font-weight: 800;
    font-size: 14px;
}

/* "Unread pins" pill color */
.iconBadge-3Mmg92 {
    background-color: #198CD8;
}

/* put space between channels */
.channel-1Shao0 {
    margin-top: 8px;
    max-width: none;
}

/* Make the channel list wider to match Twitter */
.sidebar-1tnWFu, .bannerImg-2PzH6z {
    width: 275px;
}

/* Threads stuff */
.containerDefault-YUSmu3 {
    margin-top: 0;
}

/* Add even more padding to channels */
.link-1_kTxV {
    padding: 8px
}

/* Channel/DMs names to make them look like Twitter's side nav */
.name-28HaxV, .name-2m3Cms {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

/* Threads channel list UI to accomodate for the wider channels */
.spineBorder-1-F4s1 {
   bottom: 30px !important;
}

/* Makes the User Settings, mute and deafen button centered */
.container-YkUktl {
    justify-content: space-between;
}

/* Forum search bar that looks like ass */
.form-25Aujy * {
    outline: none;
}

/* Remove ugly srearch shit */
.option-ayUoaq:after {
    background: none;
}

/* Buttons on message hover */
.buttons-3dF5Kd {
    padding: 0;
    margin: 0 14px 0 32px;
    border-radius: 4px
}

/* Want to chain 3 replies? Create a thread */
[class*=threadSuggestionBar-] {
    display: none;
}

/* Fix follow button and channel topics not being clickable */
[class*=followButton-], .topic-11NuQZ {
    -webkit-app-region: no-drag;
}

/* Make menus touch each other 😳 */
[class*=submenuPaddingContainer-] {
    padding: 0 4px;
}

/* Removes little tooltip arrows */
[class*=tooltipPointer-] {
    display: none;
}

/* Add niko_amazed badge in mini profile to myself */
div[aria-label="lumap"] .profileBadges-2pItdR:before {
    content: '';
    height: 22px;
    width: 22px;
    background-image: url(https://cdn.discordapp.com/emojis/1095486032910241843.webp?size=240&quality=lossless);
    background-size: 22px;
    cursor: pointer;
}