/**
 * @name DisTwitter
 * @author lumap
 * @version 0.0.1
 * @description Mimics the Dim theme from Twitter. ONLY DARK THEME IS SUPPORTED.
 * @source https://github.com/lumap/distwitter-theme/
*/


/* Set the main color of buttons & co */
[data-popout-root],
html {
    --brand-experiment: #198CD8;
}

/* Change the background colors of most elements in the app. Only 
the variables that are actually used throughout the app have been
edited below. */

.theme-dark {
    --distwttr-bg: #15202B;
    --distwttr-border: #37444D;

    --channels-default: #ffffffe6;
    --text-muted: #ffffffbf;
    --channel-text-area-placeholder: #ffffffbf;
    --channel-icon: white;


    --background-primary: var(--distwttr-bg);
    --modal-background: var(--distwttr-bg);
    --background-secondary: var(--distwttr-bg);
    --background-secondary-alt: var(--distwttr-bg);
    --background-tertiary: var(--distwttr-bg);
    --background-floating: var(--distwttr-bg);
    --background-modifier-accent: var(--distwttr-border);
    --background-mentioned: rgb(29 155 240 / 0.075);
    --background-mentioned-hover: rgb(29 155 240 / 0.15);
    --__header-bar-background: var(--distwttr-bg);
    --home-background: var(--distwttr-bg);
    --deprecated-card-editable-bg: var(--distwttr-bg);
    --modal-footer-background: var(--distwttr-bg);
    --input-background: var(--distwttr-bg);
    
    --elevation-low: none;
    --channeltextarea-background: var(--distwttr-bg);
    --info-warning-foreground: none;
    --mention-foreground: #1D9BF0;
    
    --interactive-active: var(--brand-experiment);;
}


/* The background color of the header and content of the Channels & Roles tab is hardcoded
Let's as well put elements that are coded weirdly here */
.container-2IKOsH, .container-1um7CU, .scrollerContainer-y16Rs9, .header-3xB4vB, .autocomplete-3NRXG8, .categoryHeader-OpJ1Ly, .directoryContainer-z-0pgp, .footer-Ql9fbL {
    background-color: var(--distwttr-bg) !important;
}

/* Channel Summaries */
.topicsPillContainer-1LeYIf {
    background-color: var(--distwttr-bg);
    box-shadow: none;
    -webkit-box-shadow: none;
}

.spoilerMarkdownContent-2R1Vwe {
    background-color: var(--primary-900);
}

/***************************
********* BORDERS **********
****************************/


/* Add a border around a lot of elements, to mimic twitter's way to visually separate elements  */
.wrapper-1HIH0j, .channelTextArea-1FufC0, .tile-2mmK5T, .input-3O04eu, .bioTextArea-dDGOeC, .reaction-3vwAF2, .accountProfileCard-lbN7n-, .compactButton-3hG-bs, .container-JhuCwn, .optionButtonWrapper-2lbogO, .container-jV-A82, .counter-2iDLRj, .authedApp-8q3NA9, .connection-YOVI9j, .metadataContainer-35U-On, .details-2q1D13>*, .accountCreditRow-320WuZ, .verticalFit-21XL0v, .preview-QJ3OG3, .preview-3k9WhO, .select-Zz0IcO, .item-1TA5qI, .vc-settings-card, .vc-plugins-card, .container-2oNtJn, .wrapper-24fR1R, .inputMaxLength-vpxzjq, .card-3JmxsM, .clickable-WBCFI5, .editCard-K9Q9mb, .auditLog-1NVAY0, .embedFull-1HGV2S, .profilePanel-2VBkh8, .wrapperAudio-1Bzv_Z, .navigator-lOeWrY, .newMessagesPill-2YdO-e, .newMessagesClear-2LQVHt, .rippleContainer-3ZCne6, .embedCard-bDyD5S {
    outline: 1px solid var(--distwttr-border);
}


/* Outlines don't work/look ugly to visually separate guilds & channels from the other parts of the app */
.guilds-2JjMmN, .sidebar-nqHbhN, .scroller-WSmht3, .scroller-1ox3I2, .resizeHandle-PBRzPC {
    border-right: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Members sidebar */
.membersWrap-3NUR2t {
    border-left: 1px solid var(--distwttr-border);
    box-sizing: border-box;
    min-height: 100vh;
}

/* More thread stuff */
.panels-3wFtMD {
    border-right: 1px solid var(--distwttr-border);
    border-top: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Server names */
.header-3OsQeK {
    border-bottom: 1px solid var(--distwttr-border);
    border-right: 1px solid var(--distwttr-border);
    box-sizing: border-box;
    height: 48px !important;
}

/* Hide the bottom border when the server banner is visible */
.container-1-ERn5.hasBanner-2IrYih .header-3OsQeK {
    border-bottom: none;
}

/* Chat bar header */
.title-31SJ6t, .container-ZMc96U  {
    border-bottom: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Remove the shadow of the chat bar header */
.content-1jQy2l:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.searchBar-3TnChZ {
    border-right: 1px solid var(--distwttr-border);
    border-bottom: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}

/* Context menus */
.menu-2TXYjN {
    border: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}


/* Modal footers */
.footerSeparator-3U8YsT {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid var(--distwttr-border);
    box-sizing: border-box;
}


/***************************
****** ELEMENT SIZES *******
****************************/


.container-JhuCwn {
    border-radius: 16px
}

/* Put padding instead of margin for macOS buttons to make the border appear alongside them too */
.platform-osx .wrapper-1_HaEi {
    padding-top: 32px;
    margin-top: 0px
}

/* Member list*/
.headerText-1qIDDT, .mainContent-uDGa6R>h3, .membersGroup-2eiWxl {
    font-weight: 800;
    font-size: 14px;
}

/* "Unread pins" pill color */
.iconBadge-3Mmg92 {
    background-color: #198CD8;
}

/* put space between channels */
.channel-1Shao0 {
    margin-top: 8px;
    max-width: none;
}

/* Make the channel list wider to match Twitter */
.sidebar-1tnWFu, .bannerImg-2PzH6z {
    width: 275px;
}

/* Threads stuff */
.containerDefault-YUSmu3 {
    margin-top: 0;
}

/* Add even more padding to channels */
.link-1_kTxV {
    padding: 8px
}

/* Channel/DMs names to make them ook like Twitter's side nav */
.name-28HaxV, .name-2m3Cms {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

/* Add bottom padding to the last channel/DM to make it not stuck to the bottom of the app */
ul.content-yjf30S[aria-label="Channels"]>li:last-child {
    padding-bottom: 16px
}

/* Threads channel list UI to accomodate for the wider channels */
.spineBorder-1-F4s1 {
   bottom: 30px !important;
}

/* Makes the User Settings, mute and deafen button centered */
.container-YkUktl {
    justify-content: space-between;
}

/* Remove unnecesarry things from user popout */
[class*=accountProfilePopoutWrapper-] > div > div > [class*=bannerSVGWrapper-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=avatarWrapper-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=profileBadges-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > [class*=divider-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > [class*=section-],
[class*=accountProfilePopoutWrapper-] > div > div > [class*=userPopoutOverlayBackground-] > [class*=scroller-]
{
  display: none;
}