[data-popout-root],
html {
    --brand-experiment: #198CD8;
}


.theme-dark,
.theme-light {
    --background-primary: #15202B;
    --modal-background: #15202B;
    --background-secondary: #15202B;
    --background-secondary-alt: #15202B;
    --background-tertiary: #15202B;
    --background-floating: #15202B;
    --background-modifier-accent: #37444D;
    --primary-630: #15202B;
    --primary-700: #15202B;
    --elevation-low: none;
    --channeltextarea-background: #15202B;
    --info-warning-foreground: none;
    --background-mentioned: rgb(29 155 240 / 0.075);
    --background-mentioned-hover: rgb(29 155 240 / 0.15);
    --mention-foreground: #1D9BF0;
    --interactive-active: #1D9BF0;
}

.wrapper-1HIH0j, .channelTextArea-1FufC0, .tile-2mmK5T, .input-3O04eu, .bioTextArea-dDGOeC, .reaction-3vwAF2 {
    outline: 1px solid #37444D;
}

.guilds-2JjMmN, .sidebar-nqHbhN, .scroller-WSmht3, .scroller-1ox3I2 {
    border-right: 1px solid #37444D;
    box-sizing: border-box;
}

.membersWrap-3NUR2t {
    border-left: 1px solid #37444D;
    box-sizing: border-box;
}

.panels-3wFtMD {
     border-right: 1px solid #37444D;
     border-top: 1px solid #37444D;
    box-sizing: border-box;
}

.header-3OsQeK {
    border-bottom: 1px solid #37444D;
    border-right: 1px solid #37444D;
    box-sizing: border-box;
    height: 48px !important;
}

.container-1-ERn5.hasBanner-2IrYih .header-3OsQeK {
    border-bottom: none;
    border-right: none;
}

.title-31SJ6t, .container-ZMc96U  {
    border-bottom: 1px solid #37444D;
    box-sizing: border-box;
}

.searchBar-3TnChZ {
     border-right: 1px solid #37444D;
     border-bottom: 1px solid #37444D;
    box-sizing: border-box;
}

.platform-osx .wrapper-1_HaEi {
    padding-top: 32px;
    margin-top: 0px
}

.topicsPillContainer-1LeYIf {
    background-color: black;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.content-1jQy2l:before {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu-2TXYjN{
    border: 1px solid #37444D;
    box-sizing: border-box;
}

/*Remove join server and discovery buttons*/
div[aria-label="Servers"] + div + div  {
    display: none !important;
}

/*Hiding Useless Discoverable Badge*/
.communityInfo-3YsNIn{
    display: none;
}

:is([class*=userTagWithNickname], [class*=nameTagSmall]) span:only-child:before {
    content: '@';
}
